name: Run VehicleModel

on:
  push:
    branches:
      - "**"

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2

      - name: Make script executable
        run: chmod +x ./run-model.sh


        - name: Run script
          run: ./run-model.sh
